
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="rekanan.length > 2; else second">
        <div class="col" *ngFor="let rekan of rekanan">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thullmbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5aff0"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{rekan.name | uppercase}}</text></svg>

            <div class="card-body">
                <div><b>Skill :</b> {{rekan.skill}}</div>
                <div><b>Phone :</b> {{rekan.phone}}</div>
                <div>{{rekan.deskripsi}}</div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/detail/{{rekan.id}}">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #second>Data kosong</ng-template>
  
  